{% extends 'layout.html' %}
{% block content%}
<div class="col-md-6 login-form-2">
    <h3>Login</h3>
    <form method="POST", action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {% if form.email.errors%}
                {{ form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invaild-feedback">
                {% for error in form.email.errors %}
                    <span>
                    {{error}}
                    </span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.password.errors%}
                {{ form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invaild-feedback">
                {% for error in form.password.errors %}
                    <span>
                    {{error}}
                    </span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btnSubmit")}} 
        </div>
        <div class="form-group">
            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
        </div>
    </form>
  </div>
{% endblock %}